 
 body {
 	background-color: #ffcc80;
 	line-height: 2em;
	background-image:url("dodo/illustration.png"), weight:small;
	background-attachment: fixed;
	background-repeat:no-repeat;
	background-position: top left;

}
 h1, h2, h3 {text-align:center;
 	border:3px dotted;
 	border-radius:50px;}
 h3 {color: #af4448;}
 p {font-family: "Comic Sans MS", "Times New Roman", Impact, serif;

}


p:hover{ color:#c30000;

  }



 .imageflottante {float : right;}


.imageflottante2 {float : left;}

iframe{object-position: right;}



footer{border: groove;
color:black;
background-color: white}





}
