html, body {
    height: 100%; text-align: 
}
body {
    background: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fdetours.canal.fr%2Fle-joker-lhistoire-dun-hacker-engage-contre-le-terrorisme%2F&psig=AOvVaw36xyGA8u7Qlz6B910kKs-d&ust=1611350869625000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPDa3PL7re4CFQAAAAAdAAAAABAE.jpg");
    background-size: 100%;
}

header {
    border: solid #2979ff; 
    border-radius: 10px; 
    padding: 10px;
        
