 h1.titreprincipal{
 	color: #c97b63;
 	text-align: center;
 }

p{
	color: #303f9f;
}
html, body {
    height: 100%;
}

body{
	background-color: #eeeeee;
	
}
header {
    border: solid #8d6e63
; 
    border-radius: 10px; 
    padding: 10px;
}	
header:hover, section:hover {
    background-color: #ffbb99;
}

footer {
    border: #8d6e63
;
}
footer {
    font-size: 80%;
    background-color: #ffa06d
;
    color: white;
    padding: 10px;
    text-align: center;
}
li {
    list-style-type: none;
    margin: 10px;
}


section {
    border: solid #8d6e63
;
    border-radius: 10px;
    padding: 10px;
}

.video {
    display: block;

}
#videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
iframe {
    border-radius: 10px;
}

.background {
    background-color: black;
    height: 100%;
    width: 100%;
    margin: 0px;
}

.content {
    position: absolute;
    z-index: 100;
    top: 2rem;
    text-align: center;
    width: 75%;
    background: #fff;
    margin-left: 12%;
    height: 80%;
    opacity: 90%;
    border-radius: 10px;
}