/* 
C'est ici qu'on gère, avec gout, le style de notre site.
 Vous pourrez trouver des couleurs ici : 
 */
h1{
	color:yellow 
}

body {
    background-color: purple;
    text-align:center;
    border:solid;
    border-radius: 10px; 
    padding:10px;
}
p{
	font-size:140%;
}

	
