html, body {
	height: 100%;
}
body {
	background-color: #ECEFF1
}
header {
	border: solid #B0BEC5;
	border-radius: 10px;
	padding: 10px;
}
h1 {
	color: #2196F3;
	text-align: center;
}
h2 {
	color: #3E2723;
}
section {
	border: solid #B0BEC5;
	margin: 10px;
	padding: 10px;
}
li {
	list-style-type: none;
	margin: 7px;
}