
/*css index*/

h1 {
	text-align: center
}

body.acceuil{
	background: url(https://www.levif.be/medias/14667/7509815.jpg) no-repeat;
	background-size: 100%
}

h1{
    border: solid #2979ff;
    border-radius: 20px; 
    padding: 5px; 
    background-color: #4fc3f7;
    font-size: 50px
}


li{
	list-style-type: none
}    

nav ul li.boutonA a{
	color: white;
	text-decoration: none;
	background-color: #4ba3c7;
	font-size: 20px;
	padding: 5px;
	margin-left: -25px;
}

nav ul li.boutonA:hover a{
	color: #4ba3c7;
	background-color: white;
	transition: 0.5s all;
}
nav ul li.boutonB a{
	color: white;
	text-decoration: none;
	background-color: #4ba3c7;
	font-size: 20px;
	padding: 5px;
	margin-left: -25px;
}

nav ul li.boutonB:hover a{
	color: #4ba3c7;
	background-color: white;
	transition: 0.5s all;
}

nav ul li.boutonC a{
	color: white;
	text-decoration: none;
	background-color: #4ba3c7;
	font-size: 20px;
	padding: 5px;
	margin-left: -40px;
	
}

nav ul li.boutonC:hover a{
	color: #4ba3c7;
	background-color: white;
	transition: 0.5s all;
}

div#contenu3 div.menu{
	position: absolute;
	bottom: 0;


}


 /*css numerique*/

h1.titre1{
	width: 97.5%
}

div#contenu div{
	display: inline-block; width: 48%
}


h3{text-align: center}

div#contenu div.divA{
 	border: solid #81d4fa;
    border-radius: 10px; 
    padding: 5px; 
    background-color: #e6ffff;
    font-size: 20px
}

div#contenu div.divB{
 	vertical-align: top;
 	border: solid #81d4fa;
    border-radius: 10px; 
    padding: 5px; 
    background-color: #e6ffff;
    font-size: 20px;
    height: 86.4%
}

div#contenu div.divC{
    vertical-align: top;
    border: solid #81d4fa;
    border-radius: 10px; 
    padding: 5px; 
    background-color: #e6ffff;
    font-size: 20px;
}

div#contenu div.divD{
    vertical-align: top;
    border: solid #81d4fa;
    border-radius: 10px; 
    padding: 5px; 
    background-color: #e6ffff;
    font-size: 20px;
    height: 57.57%
}


/*css IA*/

div#contenu2 div{
	display: inline-block; width: 48%;
}

div#contenu2 div.divE{
    border: solid #81d4fa;
    border-radius: 10px; 
    padding: 5px; 
    background-color: #e6ffff;
    font-size: 20px;
}

div#contenu2 div.divF{
    border: solid #81d4fa;
    border-radius: 10px; 
    padding: 5px; 
    background-color: #e6ffff;
    font-size: 20px;
}

div#contenu2 div.divG{
    border: solid #81d4fa;
    border-radius: 10px; 
    padding: 5px; 
    background-color: #e6ffff;
    font-size: 20px;
    width: 97.5%;
    height: 29%;
}








body.page{
	background: url(https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-beautiful-gradient-color-cloud-background-backgroundcloud-backgroundromantic-cloudslight-image_72634.jpg) no-repeat;
	background-size: 100%; 
}




body{
	font-family: Trebuchet MS;
}













