body {
    background-image: url(https://image.freepik.com/vecteurs-libre/fond-molecule-scientifique-pour-medecine-science-technologie-chimie-fond-ecran-banniere-modele-scientifique-molecules-adn-adn-flux-onde-dynamique-moleculaire_230610-26.jpg);
    background-size: 1500px;
}
header{ 
	border: solid #8e24aa;
	border-radius: 10px;
	padding: 10px;
 }
section{
 	border: solid #8e24aa;
	border-radius: 10px;
	padding: 10px;
	font-weight: bold;
 }
