html, body {
    height: 100%;
}
body {
    background-image: url(https://i.pinimg.com/originals/af/16/d4/af16d4d48de06ffe53d122079c4e9272.jpg);
       background-size: 2100px;
    background-repeat:no-repeat;
}
header {
    border: solid #292929 ; 
    border-radius: 10px; 
    padding: 10px; 
}



h1 {
    color:#E91212  ;
    text-align: center;
    text-decoration: underline;
}
p{
	color:#6BEBD6 ;
}
h2{
    color:#E91212  ;
    text-align: center;
    text-decoration: underline;
}
}

li {
    list-style-type: none;
    margin: 10px;
}

li a {
    background-color:#94A8AD;
    
    border-radius: 10px;
    display: block;
    color: azure;
    width: 21%;
    padding: 5px;
    text-decoration: none;
}
footer {
    font-size: 80%;
    background-color:#CF33D7;
    color: white;
    padding: 10px;
    text-align: center; 
}

