/* 
C'est ici qu'on gère, avec gout, le style de notre site.
 Vous pourrez trouver des couleurs ici : https://materialuicolors.co/
 */


body {
    background-color: pink ;
	

}
body:hover, section:hover {
    background-color: hotpink;
   

}
h1{
	color: black;
	height: 50px;
    text-align:center;
    text-decoration: underline;
    text-shadow:3px 3px 6px purple;


}

h2{
	color: black;
	height: 30px;
	position: absolute;
	top:-20px;
	font-size: 20px;

}
div{
	color: black;
	border: ridge;
	border-color: hotpink;
	position: absolute;
	top:310px;
	border-radius: 10px;
	padding: 10px;
	margin-top: 10px;
}



}
h3{
	color: black;
	height: 30px;
	position: absolute;
	top:450px;
	font-size: 23px;
}

span{
	color: black;
	border: ridge;
	border-color: hotpink;
	position: absolute;
	top:500px;
	border-radius: 10px;
	padding: 10px;
	margin-top: 10px;
}

img{
	width: auto;
	height: 200px;
	border:solid;
    border-radius:50px;
    
}
footer{
	background-color: purple;
	color: black;
	font-size: 80%;
}



