body{
background-color: #B0BEC5;
font-family: URW Chancery L, cursive;
margin-right: auto;
margin-left: auto;
align-items: center;
}



header {
    border: solid #263238; 
    border-radius: 10px; 
    padding: 10px; 

}
    

h1{
text-align: center;
font-size: 300%;
color: #37474F;
}
h2{
text-align: left;
font-size: 170%;
color:  #37474F;
}
h3{
text-align: left;
font-size: 170%;
color:  #37474F;
}
h4{
text-align: left;
font-size: 170%;
color:  #37474F;
}
p{
text-align: left;
font-size: 20px;
color:  #37474F;
font-style: 
}
section{
border: solid #263238;
border-radius: 20px;
padding: 20px;
margin : 75px;
border-style: ridge;
}
section:hover{
background-color:#CFD8DC
}
aside{
border: solid #263238;
border-radius: 20px;
margin : 40px;
overflow: auto;
border-style: ridge;
}
nav{
text-align: center;
font-size: normal;
}

li a {
    background-color: #212121;
    border: solid #37474F;
    border-radius: 10px;
    display: block; 
    color: azure;
    width: 15%;
    padding: 5px;
    text-decoration: none; 
}

 footer {
   	border: solid #263238;
   	text-align: center;
}
img{
	margin :10px;
}




