body{
	background-color: black;
	font-family: trebuchet ms;
	margin-right: auto;
	margin-left: auto;
	align-items: center;
}
h1{
	text-align: center;
	font-size: 275%;
	color: white;
}
h2{
	text-align: left;
	font-size: 140%;
	color: white;
}
h3{
	text-align: left;
	font-size: 140%;
	color: white;
}
h4{
	text-align: left;
	font-size: 110%;
	color: white;
}

h5{
	font-size: small;
	color: grey;
	text-align: right;
}
p{
	text-align: left;
	font-size: normal;
	color: white;
}
section{
	border: solid #707070; 
	border-radius: 20px;
	padding: 20px;
	margin : 75px;
	border-style: ridge; 
	overflow: auto;
}
section:hover{
	background-color:#00251a
}
aside{
	border: solid #707070; 
	border-radius: 20px;
	margin : 40px;
	overflow: auto;
	border-style: ridge;
}

a{
	text-align: center;
	text-decoration: none;
	color : #707070;
	font-size: normal;
}
img{
	float: right;
}

nav{
	text-align: center;
	font-size: normal;
}

iframe{
	padding: 25px
}
a:hover{
	color: #f48fb1
}