h1 {color : pink ;}
h2 {color : white ; }
h3 { color : white ; }
li { color : white ; }
p { color : black ; }
h6 { color : white ; }
body { background-image : C:\Users\Elève\Desktop\mont cite numairik\addiction.jpeg)}