html, body {

    height: 100%;
}

body {

    background-color: grey;
   

}
   

header {

	 padding: 10px; /* marge intérieure */

    background: url(http://www.freeliquidtemplates.com/free-headers-for-websites/header13.jpg) no-repeat;

    background-size: 100%;

    width: 100%;

}

h1 {

    color: white;

    text-align: center;
    font-size: 70px

}

li {

    list-style-type: none;

    margin: 10px;

}

li:hover a{
    color: grey;
    background-color: lightgrey;
    border: solid lightgrey;
    transition: 0.4s all;
}

nav ul li{
    display: inline-block;
    margin: 70px;
    margin-top: 10px
}

/* li a veut dire : "les liens (a) dans les listes (li) */

li a {

    background-color: grey;

    border: solid grey;

    border-radius: 10px;

    color: azure;

    width: 15%;

    padding: 5px;

    text-decoration: none; /* pour que les liens ne soient pas soulignés */

}

div#content div{
    display: inline-block;
    width: 49%;
}

div#content div h2, p{
    margin: 35px;
}

div#content div.leftbox{

    vertical-align: top;

}

img {
	
	margin: 30px
}

div#content div.rightbox{

    margin-top: 30px

}

footer {

    font-size: 80%;

    background-color: #333;

    color: white;

    padding: 10px;

    text-align: center;

    width: 1323px;

}