/* 
C'est ici qu'on gère, avec gout, le style de notre site.
 Vous pourrez trouver des couleurs ici : https://materialuicolors.co/
 */


body {

    background-color: turquoise;
}
HTML{ font-size: 25px;}
h1 {
	color:black;
	border-radius: 10px;
	text-align: center;
	padding:10px;
}
h2 {
	color:black;
	border-radius: 10px;
	text-align: center;
}
h3 {
	font-size: 35px;
	color:black;
	border-radius:10px;
}
h4{
	font-size: 35px;
	color:black;
	border-radius:10px;
}
section {
	border:solid black;
	margin:10px;
	padding : 10px;
}