h1 {
    text-align: center;
    color: #002984;
}
p {
    text-align: center;
}
#tables {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
table {
    display: block;
    border: solid #3f51b5;
    border-radius: 5px;
}
.classes {

}

th {
    background-color: #757de8;
    color: white;
    padding: 10px;
    border-bottom: solid blue;
}
h2 {
    text-align: center;
    color: #3f51b5;
}

td {
    padding: 2px;

}

tr:hover {
    background-color: #8e8e8e;

}

body {
    background-color: #cfd8dc;
}

.abs {
    color: grey;
}
