h1 {
    text-align: center;
    color: #aa00c7;
}

#tables {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
table {
    display: block;
    border: solid blue;
    border-radius: 5px;
}
.classes {

}

th {
    background-color: #1b7fcc;
    color: white;
    padding: 10px;
    border-bottom: solid blue;
}
h2 {
    text-align: center;
    color:blue;
}

td {
    padding: 2px;

}

tr:hover {
    background-color: #8e8e8e;

}
