body {
    background-color: lightblue;
}
header {
    text-align: center;
    border: solid darkblue;
    padding: 10px; 
    text-align: center;
    text-decoration: underline black;
}
header:hover, section:hover {
    background-color: darkcyan;
    text-align: center;
}
h2{
    color: darkblue;
    text-decoration: underline darkblue;
}
h3{
    color: darkblue;
    text-decoration: underline darkblue
}
section {
    margin: 10px; 
    padding: 10px;
}

footer {
    font-size: 80%;
    background-color: blue;
    color: black;
    text-decoration: underline black;
    padding: 10px;
    text-align: center;
}
strong {
    color: darkblue;
}

img {
    margin: 30px;
    margin-left: auto;
    margin-right: auto; 
    text-align: center;

}

li {
    margin: 10px;
    list-style-type: none;
    text-align: center;
}
li a {
    text-align: center;
    background-color: cyan;
    border-radius: 40px;
    display: block;
    color: darkblue;
    width: 15%;
    padding: 10px;
    margin: 30px;
}
