body {
    background-color:teal;
}
HTML { font-size: 25px; }
header {
    border: solid #2979ff; 
    border-radius: 30px; 
}
header:hover, section:hover {
    background-color: bisque;
}
h1{color:white;
border:solid white;
border-radius:30px;
text-align: center;
padding:30px;
margin: 30px;
}
h2{color:orange;
text-align:center;
padding:20px;
}
section {
    border: solid orange;
    margin: 30px;  
    padding: 20px;
}
h3{color:orange;
text-align:center;
padding:20px;
}
h4{color:orange;
}