body {background-color: #455A64;
}

h1 {text-align: center;
color: #212121;
border-radius: 10px;
text-decoration: underline #607D8B;
font-size: 30px;}

p { color: #CCD1D1;
	margin: 50px;
	font-size: 17px;}


.image {
display:inline-block;
float:left;}

.float {float:right;}

