body{
	background: url("https://t1.pixers.pics/img-c676e9e9/posters-ring-de-boxe-dans-arena.jpg?H4sIAAAAAAAAA42PW07EMAxFt9NK6dhJmjrpAuZ3llCleQyFvpQUGLF6UkD8ISF_-CH7XF94XbONAVxYj5BgmbyfA8RpLl3uU8jTR6iQSaPqvkznChHrfnsLyaVtr6RiDZeCdUYxJXTdv9tyuNj0Uj0dx557gCwv-_QotJJcBrdkEMgJUIMy2rowejLcimFv8mFXb5NvCBt6KLzs653hGf8Ha-AIavR87EbtsR31IAQWWPNL-MK2SKwlfaJ_XBIio9PdkaalKna3sn1Uz_u9hj80v2soV3C9ARFIBbIDrc_RcL0RSSU7XV5w0bYeo3K25SKiJdNGZ6LlRlo5iktR-QRUeMAyiwEAAA==") no-repeat;
	background-size: 100%;

}
h2.headline{
	font-size: 40px
	padding-left: 300px;
	opacity: 0.8;q
}
p.commencement{
	font-weight: bold;
}
p.explication{
	font-weight: bold;
}
a{
	color: red;
}
p.parcours{
	font-weight: bold;
}
p.modèles{
	font-weight: bold;
}
p.propose{
	font-weight: bold;
}