 /* 
C'est ici qu'on gère, avec gout, le style de notre site.
 Vous pourrez trouver des couleurs ici : https://materialuicolors.co/
 */


body {
    background-color: #607D8B;
}
h1{
	color:white;
	text-align: center;
	border: solid;
	border-radius: 10px;
	padding: 10px;
}

img{
	width: 200px;
	height: 200px;
}
h2{
	color:white;
}
h4{
	text-align: center;
	font-size: 26px;
	

}