html, body {
    height: 100%;
}
body {
    background-color: B3E5FC;
}
/* je vais encadrer l'en-tête */
header {
    border: solid #BEE7f; /* le type de trait et la couleur */
    border-radius: 10px; /* je vais arrondir les angles, c'est important d'arrondir les angles :) */
    padding: 10px; 
    /* marge intérieure */
}
h1 {border:solid purple;
text-align: center}

h2 {
    color: BA68C8;
}

footer {
    border: solid purple;
     
}

li a {
    background-color: #aa00c6;
    border: solid #aa00c7;
    border-radius: 10px;
    display: block; /* pour que les liens se comportent comme des "block" */
    color: azure;
    width: 15%;
    padding: 5px;
    /* pour que les liens ne soient pas soulignés */
}

li {
    list-style-type: none;
    margin: 10px;}

h4 {
text-decoration: underline;
}


body {
    border: solid purple;
 
    margin: 10px;  /* marge externe */
    padding: 10px;
    text-decoration: none;}
} 

footer {
    font-size: 80%;
    background-color: #aa00c7;
    color: white;
    padding: 10px;
    text-align: center;
}


