body { background-color: ; }

h1 { color: #DF6D14; 
	border: solid;
	border-radius: 10px;
	border-color: #582900;
	padding: 10px; 
	margin-left: 300px;
	margin-right: 300px;
	text-align: center;
	font-size: 60px;
	line-height: 65px; }

h1:hover {color: red;} 

h2 { color: blue; }

#alpha { color: #FD6C9E;
		 font-size: 40px; }

#beta { text-indent: 10px; }

#pi { text-indent: 10px;
	  line-height: 10px; }

#gamma { text-indent: 25px; }

#delta { text-indent: 5px; }

#omega { color: #FEA347;
		 font-size: 25px; }

#lambda { line-height: 15px;
		  text-indent: 10px; }

#psy { max-width: 100%; }

#mu { height: 200px;
      width: auto; }

#kappa { max-width: 60%; }

#rota { color: white;
		font-size: 25px; }

p { color: #096A09;
	line-height: 5px; }

section { border: solid; }

section:hover { background-color: pink; }

nav { font-size: 20px; }

td { border: solid;
	 border-color: purple;
	 text-align: center; }

th { border: solid;
	 border-color: purple;
	 text-align: center; }

footer { background-color: purple;
		 text-align: center; 
		 padding: 5px; }