/* le style appliqué au body est un style qui va être valable sur toutes les pages, dans le body */
html, body {
    height: 100%;
}
body {
    background-color: #90a4ae;
}
/* en-tête */
/* encadrement */
header {
    border: solid #212121; /* le type de trait et la couleur */
    border-radius: 10px; /* arrondir les angles */
    padding: 10px; /* marge intérieure */
    width: 100%; /* largeur de l'en-tête (dans la nav) */

}

/* titre */
h1 {    
    border: solid #212121; 
    border-radius: 10px;
    color: black;
    text-align: center;
}

/* surlignage en-tête (hover) */
header:hover, section:hover {
    background-color: #c8e6c9;
    color: #212121;
    border-radius: 10px;
}

section {
        margin-left: 34%;
        border: 1px;
        color: #263238;
        width: 60%;
        vertical-align: top;
}

h2 {
    color: black;
}

footer {
    background-color: #37474f;
    width: 100%;
    margin: 0px;
    border-radius: 10px
    text-align: center;
    padding: 10px;
    font-size: 80%;
    clear: both;
    border-radius: 10px;
}   

/* mettons les mots importants (strong) en rouge */
strong {
    color: black;
}

img {
    margin: 10px;
}

/* Ce passage est là pour enlever les puces devant une liste et également ajouter une marge*/
li {
    list-style-type: none;
    margin: 5%;
    text-align: center;
}

li a {
    background-color: #37474f;
    border: solid #212121;
    border-radius: 10px;
    display: block; /* pour que les liens se comportent comme des "block" */
    color: azure;
    width: 80%;
    padding: 5px;
    text-decoration: none; 
    text-align: center;
}

/* table avantage inconvenient */
table {
    background-color: #263238;
    border: solid #212121;
    width: 106%; /* dans la nav */
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

th {
    color: white;
    text-align: center;
}

td {
    color: white;
    width: 50%;
    text-align: left;
    
}

nav {
    float: left;
    width: 30%;
}

    

/*********************************************************************************************************************

 *********************************************************************************************************************/


.video {
    display: block;

}
#videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
iframe {
    border-radius: 10px;
}

.background {
    background-color: black;
    height: 100%;
    width: 100%;
    margin: 0;
}

.content {
    position: absolute;
    z-index: 100;
    top: 2rem;
    text-align: center;
    width: 75%;
    background: #fff;
    margin-left: 30%;
    height: 80%;
    opacity: 90%;
    border-radius: 10px;
}

@import 'compass';

* {
    box-sizing: border-box;
}

svg {
    display: block;
}

.cont {
    width: 100%;
    background: #fafafa;
    margin: 0;
    padding: 25px;
}

@media (min-width: 768px) {
    body {
        width: 80%;
    }
}
@media (min-width: 960px)
{

body {
    border-radius: 5px;
    width: 50%;
}

}
