p{
    font-family:"Cursive", Cursive, sans-serif;
}

img{
	width: 30%;
	height: 30%;
	image-rendering: right;
    border-radius: 10px;
	padding: 50px;
}


html, body {
    height: 100%;
}
body {
    background-color: #D8CEF6;
}
header {
	border: solid blueviolet; 
    border-radius: 10px; 
    padding: 10px; 
    text-align: center;

}

header:hover, section:hover {
    background-color: #ede7f6;
}


li a {
    background-color: #9A2EFE;
    border: solid white;
    border-radius: 10px;
    display: block; 
    color: azure;
    width: 15%;
    padding: 5px;
    text-decoration: none; 
}




h1 {
    color: #37474f;
    text-align: center;

    
}
    
h2 {
    color: #37474f;
    text-align: center;
    
}

h3 {
    color: #37474f;
    text-align: center;

}


h4{
     color: #37474f;
    text-align: center;
}


footer {
    border: solid white;
}

section {
    border: solid blueviolet;
    border-radius: 10px;
    margin: 10px;  
    padding: 10px;
}

footer {
    font-size: 100%;
    border: solid blueviolet;
    background-color: white;
    border-radius: 10px;
    color: #37474f;
    padding: 10px;
    text-align: center;
}

strong {
    color: #B40404;
}

img {
    margin: 10px;

}


li {
    list-style-type: none;
    margin: 10px;
}




